.images {
  display: none;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}

.active {
  display: block;
}

.fas {
  font-size: 30px;
  padding: 10px;
  z-index: 1;
  color: white;

}

.fas:hover {
  cursor: pointer;
}

.carouselNav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  /* top: -120px; */
  height: 120px;
  margin-bottom: -120px;
  width: 110px;
  margin-left: 18%;
}
